/* registracija i login */

.register-body {
    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* navigacija */

.navbar {
    background-color: white !important;
    width: 50%;

    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;

    position: fixed;
    top: 0;
    left: 25%;
}

.navbar-brand {
    font-size: 1.4rem;
    letter-spacing: .2rem;
}

.nav-link {
    color: #0099FF !important;
}

.active {
    color: #595C5F !important;
}

/* forma za registraciju */

.forma-registracija {
    width: 55%;
}

.forma-registracija p {
    text-align: center;
    color: #595C5F;
    
    margin-top: 3%;
}

.text-heading {
    width: 100%;
    margin-bottom: 5%;

    font-size: 5rem;
    text-align: center;
}

.text-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row {
    display: flex;
    flex-direction: column;
}

#typed {
    color: #0099FF;
}

.registration-btn {
    width: 100%;

    background-color: #0099FF;
    color: white;
}

.registration-btn:hover {
    background-color: #1682ca !important;
    color: white;
}

/* login */
.text-heading-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    margin-bottom: 5%;

    font-size: 5rem;
    text-align: center;
}

.heading-span {
    color: #0099FF;
    display: block !important;
}

/* footer */

footer {
    width: 100%;
    margin-bottom: 1%;

    position: fixed;
    bottom: 0;

    text-align: center;
    color: #595C5F;
}

/* modal */
.modal-footer button {
    background-color: #0099FF !important;
    color: white;
}

.modal-footer button:hover {
    background-color: #1682ca !important;
    color: white;
}

/* user posts */

.profile-main {
    margin-top: 5% !important;
    width: 50%;
    margin: auto;
    text-align: center;
}

.no-posts {
    margin-top: 5%;
    color: #595C5F;
}

.post {
    margin-top: 3%;
}

.post p {
    text-align: justify;
    margin-top: 3%;
}

.empty {
    margin-top: 20%;
}

.profile-main h1 {
    color: #595C5F;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.btn-container button {
    border: none;
    background-color: #0099FF !important;
    color: white !important;  
}

.btn-container button:hover {
    background-color: #1682ca !important;
    color: white !important;
}

/* novi post */

.post-forma {
    width: 50%;

    margin: auto;
}

.post-forma h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    
    font-size: 3rem;
    color: #0099FF;
}

.post-forma button {
    background-color: #0099FF !important;
    color: white !important;
    border: none;
    width: 100%;
}

.newpost-body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}